.activity-cont{
    height: 600px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    overflow: scroll;
    overflow-x: hidden;
}
.activity-header{
    padding: 10px;
    background-color:  #0090ff;
    color: #fff;
    margin: 0px;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 26px;
}
.table td{
    padding-bottom: 5px;
}
.activity-cont::-webkit-scrollbar {
    width: 6px;
  }
.activity-cont::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
.activity-cont::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
  table.table {
    margin-bottom: 0px;
    padding-bottom: 0px;
}