<div class="activity-header">
    My Activity
</div>
<div class="activity-cont">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of [1,1,1,1,1,1,1,1,1,1,1,1,1]; let i = index;">
                <td >{{i+1}}</td>
                <td>Activity - {{i+1}}</td>
                <td>
                        <a href="" mat-button>View</a>
                </td>
              
            </tr>
            
        </tbody>
    </table>
</div>