.filter-header{
    padding: 10px;
    background-color:  #0090ff;
    color: #fff;
    margin: 0px;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 26px;
}
.filter-body{
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);

}
.filter-page-cont{
    /* margin-top: 20px; */
}
input.mat-input-element, 
.mat-form-field-label-wrapper, 
.mat-form-field-hide-placeholder .mat-select-placeholder{
    font-family: 'Poppins', sans-serif !important;
}
::ng-deep .mat-form-field-label-wrapper{
    font-family: 'Poppins', sans-serif !important; 
}
.right{
    float: right;
}
.form-section-header{
    font-size: 14px;
    font-family: 'Poppins', sans-serif !important;
    margin: 0px;
    font-weight: 600;
    color:  #0090ff;
}
.keyvalues{
    padding: 0px;
    margin: 0px;
}
.keyvalues li{
  list-style: none;
  display: inline-block;
  padding: 5px;
  padding-left: 10px;
  padding-right: 30px;
  margin-right: 12px;
  margin-top: 10px;
  background-color: #fff;
  color: #737373;
  border-radius: 100px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  letter-spacing: 0.03em;
  position: relative;
  font-weight: 100;
}
.keyvalues li label{
    display: block;
    width: 18px;
    background-color:  #0090ff;
    height: 18px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    position: absolute;
    right: 5px;
    top: 6px;
    border-radius: 100px;
    font-size: 11px;
    cursor: pointer;
}
.adv-form-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.adv-filter{
    position: absolute;
    left: 44%;
    top: 0px;
    border-radius: 20px;
    background:  #0090ff;
    text-align: center;
    font-weight: 500;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: 0.03em;
}
button.mat-focus-indicator.mat-mini-fab.mat-button-base.mat-warn:focus{
    outline: none !important;
}
button.mat-focus-indicator.mat-icon-button.mat-button-base:focus{
    outline: none !important; 
}
button{
    outline: none !important;
}
.icon-f-15{
    font-size: 18px;
    background: #f1f1f1;
}
.fs-18{
    font-size: 18px;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #0090ff;
}