<div class="filter-page-cont">
    <div class="filter-header">
        Document Filter
    </div>
    <div class="filter-body">

        <div class="row">
            <div class="col-md-3">
                <mat-form-field class="w-100">
                    <mat-label>System Number</mat-label>
                    <input matInput placeholder="Ex. System Number">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="w-100">
                    <mat-label>Internal Doc Number</mat-label>
                    <input matInput placeholder="Ex. 1233">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="w-100">
                    <mat-label>Author</mat-label>
                    <mat-select>
                        <mat-option value="option1">option 1</mat-option>
                        <mat-option value="option2">option 2</mat-option>
                        <mat-option value="option3">option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="w-100">
                    <mat-label>Project ID</mat-label>
                    <input matInput placeholder="Ex. Project 01">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field class="w-100">
                    <mat-label>Document Type</mat-label>
                    <mat-select>
                        <mat-option value="option1">option 1</mat-option>
                        <mat-option value="option2">option 2</mat-option>
                        <mat-option value="option3">option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="w-100">
                    <mat-label>Site</mat-label>
                    <mat-select>
                        <mat-option value="option1">option 1</mat-option>
                        <mat-option value="option2">option 2</mat-option>
                        <mat-option value="option3">option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="w-100">
                    <mat-label>Document Status</mat-label>
                    <mat-select>
                        <mat-option value="option1">option 1</mat-option>
                        <mat-option value="option2">option 2</mat-option>
                        <mat-option value="option3">option 3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="w-100">
                    <mat-label>Legacy Document</mat-label>
                    <input matInput placeholder="Ex. Legacy">
                </mat-form-field>
            </div>
        </div>
        <div class="row" *ngIf="!showAdvancedFilter">
            <div class="col-md-12 text-right">
                <a  class="adv-form-btn" 
                (click)="showAdvancedFilter=true;" href="javascript:void(0)"> 
                <span class="material-icons icon-f-15">
                    filter_alt
                    </span> 
                    Advanced Filters</a>
            </div>
        </div>
       
        <div *ngIf="showAdvancedFilter" class="row">
            <div class="col-md-6">
                <h2 class="form-section-header">Approval Date</h2>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>Start Date</mat-label>
                            <input matInput [matDatepicker]="dp2">
                            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                            <mat-datepicker #dp2></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>End Date</mat-label>
                            <input matInput [matDatepicker]="dp3">
                            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3></mat-datepicker>
                        </mat-form-field>
                    </div>

                </div>

            </div>
            <div class="col-md-6">
                <h2 class="form-section-header">Effective Date</h2>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>Start Date</mat-label>
                            <input matInput [matDatepicker]="dp">
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>End Date</mat-label>
                            <input matInput [matDatepicker]="dp1">
                            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                            <mat-datepicker #dp1></mat-datepicker>
                        </mat-form-field>
                    </div>

                </div>

            </div>
        </div>
        <div *ngIf="showAdvancedFilter" class="row">
            <div class="col-md-6">
                <h2 class="form-section-header">Custom Search</h2>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="w-100">
                            <mat-label>Key Type</mat-label>
                            <mat-select>
                                <mat-option value="option1">option 1</mat-option>
                                <mat-option value="option2">option 2</mat-option>
                                <mat-option value="option3">option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>Value</mat-label>
                            <input matInput placeholder="Ex. Value">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <button mat-mini-fab color="warn">
                            <span class="material-icons">
                                add
                                </span>
                          </button>
                    </div>

                </div>
                <h2 class="form-section-header">Custom Search Condition</h2>
                <div class="row">
                    <div class="col-md-6 py-3">
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                            <mat-radio-button class="example-radio-button pr-3" value="OR">
                                OR
                            </mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="AND">
                                AND
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="form-section-header">Custom Search Condition</h2>
                <ul class="keyvalues">
                    <li *ngFor="let row of [1,1,1,1]; let i = index;">
                        <strong>Key</strong>:
                        <span>Value</span>
                        <label>X</label>
                    </li>
                </ul>
            </div>

        </div>
        <div class="row" *ngIf="showAdvancedFilter">
            <div class="col-md-12 text-right">
                <a  class="adv-form-btn" 
                (click)="showAdvancedFilter=false;" href="javascript:void(0)"> 
                <span class="material-icons icon-f-15">
                    close
                    </span> 
                    Close Advanced Filters</a>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <a   mat-raised-button color="warn"  routerLink="/add-document" class="btn btn-primary">Add New Document</a>
            <button  mat-raised-button class="pull-right float-right" color="primary"> <span class="material-icons fs-18">search </span> Search</button>
            <!-- <button class="btn btn-primary mr-2">Search</button> -->
           
        </div>
    </div>
</div>