<!-- Material sidebar -->
<aside id="sidebar" class="sidebar sidebar-default open" role="navigation">
    <!-- Sidebar header -->
    <div class="sidebar-header header-cover">
        <!-- Top bar -->
        <div class="top-bar"></div>
        <!-- Sidebar toggle button -->
        <button type="button" class="sidebar-toggle" routerLink="/login">
            <i class="material-icons">  logout </i>
        </button>
        <!-- Sidebar brand image -->
        <div class="sidebar-image">
            <img src="../../../assets/images/user.png" >
        </div>
        <!-- Sidebar brand name -->
        <span data-toggle="dropdown" class="sidebar-brand" >
            nelluriprasad450@gmail.com
            <!-- <b class="caret"></b> -->
        </span>
    </div>

    <!-- Sidebar navigation -->
    <ul class="nav sidebar-nav">
        <!-- <li class="dropdown">
            <ul id="settings-dropdown" class="dropdown-menu">
                <li>
                    <a href="#" tabindex="-1">
                        Profile
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Settings
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Help
                    </a>
                </li>
                <li>
                    <a href="#" tabindex="-1">
                        Exit
                    </a>
                </li>
            </ul>
        </li> -->
        <li>

            <a routerLink="/dashboard" [routerLinkActive]="['is-active']">
                <i class="material-icons"> dashboard </i>
                Dashboard
            </a>
        </li>
        <li>
            <a href="#">
                <i class="material-icons"> account_circle </i>
                Profile
            </a>
        </li>
        <li>
            <a href="#">
                <i class="material-icons"> article </i>
                License
            </a>
        </li>
        <li>
            <a href="#">
                <i class="material-icons"> logout</i>
                Logout
            </a>
        </li>
        <li class="divider"></li>
    </ul>
    <!-- Sidebar divider -->
    <!-- <div class="sidebar-divider"></div> -->

    <!-- Sidebar text -->
    <!--  <div class="sidebar-text">Text</div> -->
</aside>
   