<header>
    <div class="container-fulid pl-3 pr-3">
        <div class="row m-t-5">
            <div class="col-md-2 col-sm-6 h-100">
                <a class="main-logo" routerLink="/"> <img height="55" src="assets/images/logo.png" alt="Logo"></a>
            </div>
            <div class="col-md-10 col-sm-8">
                <nav class="my-2 my-md-0 mr-md-3 nav-right text-right">
                    <ul class="main-menu">
                        <li>
                            <button mat-icon-button [matMenuTriggerFor]="Admin_dropdown" aria-label="My Account">
                                 Admin 
                                 <span class="material-icons">
                                    arrow_drop_down
                                </span>
                            </button>
                            <mat-menu #Admin_dropdown="matMenu">
                                <a mat-menu-item> Link 1</a>
                                <a mat-menu-item> Link 2 </a>
                                <a mat-menu-item> Link 3 </a>
                            </mat-menu>
                        </li>
                        <li>
                            <button mat-icon-button [matMenuTriggerFor]="my_account" aria-label="My Account">
                                <span class="material-icons">
                                    account_circle
                                </span> Prasad
                            </button>
                            <mat-menu #my_account="matMenu">
                                <a mat-menu-item>
                                    <span class="material-icons">
                                        lock
                                    </span>
                                    <span> Change Password </span>
                                </a>
                                <a routerLink="login" mat-menu-item>
                                    <span class="material-icons">
                                        logout
                                    </span>
                                    <span> Logout </span>
                                </a>
                            </mat-menu>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>