header{
    height: 60px;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
nav.my-2.my-md-0.mr-md-3.nav-right.text-right {
    display: flex;
    align-items: center;
    min-height: 55px;
    justify-content: flex-end;
}
.main-menu{
    margin:0px;
    padding: 0px;
}
.main-menu li{
    list-style: none;
    display: inline;
    margin-left: 15px;
}
.mat-icon-button:focus{
    outline: none;
}
*:focus{
outline: none;
}
::ng-deep .main-menu .mat-icon-button {
    width: auto;
}

.mat-menu-item{
    line-height: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.mat-menu-item .material-icons{
    font-size:20px;
    margin-right:5px;
}
.main-logo img{
    padding:5px;
}
.main-logo {
    display: flex;
    align-items: center;
    min-height: 55px;
}
.m-t-5{
    margin-top:5px;
}

@media (max-width:767px){
    .col-md-3.col-sm-6.h-100{
    width: 36%;
    float: left;
    }
    .col-md-9.col-sm-8{
    width: 64%;
    float: left;
    }
    .main-logo{
        display: table;
        line-height: 60px;
    }
    .main-logo img{
        height: 39px;
    }
    .m-t-5{
        margin-top:0px;
    }
}