<div class="filter-page-container container-fluid mb-5">
    <div class="row">
        <div class="col-md-12">
            <h4 class="page-title"> Add Document </h4>
        </div>
        <div class="col-md-12">
            <div class="filter-page-cont">
                <div class="filter-header">
                    Add New Document
                </div>
                <div class="filter-body">
            
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <mat-label>System Doc Number</mat-label>
                                <input matInput placeholder="Ex. System Number">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <mat-label>Internal Doc Number</mat-label>
                                <input matInput placeholder="Ex. 1233">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <mat-label>Document Version </mat-label>
                                <input matInput placeholder="Ex. Version">
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-md-3">
                            <mat-form-field class="w-100">
                                <mat-label>Author</mat-label>
                                <mat-select>
                                    <mat-option value="option1">option 1</mat-option>
                                    <mat-option value="option2">option 2</mat-option>
                                    <mat-option value="option3">option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> -->
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <mat-label>Legacy Document</mat-label>
                                <input matInput placeholder="Ex. Legacy Document">
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <mat-label>Document Title*</mat-label>
                                <input matInput placeholder="Ex. Legacy Document">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <span class="control-fileupload">
                                <label for="fileInput">Choose Doc File :</label>
                                <span class="file-name">  {{fileName}} </span>
                                <input type="file" id="fileInput" (change)="handleFileInput($event.target.files)">
                            </span>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <mat-form-field class="w-100">
                                <mat-label>Project Id</mat-label>
                                <input matInput placeholder="Ex. P001 ">
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field class="w-100">
                                <mat-label>Site</mat-label>
                                <mat-select>
                                    <mat-option value="option1">option 1</mat-option>
                                    <mat-option value="option2">option 2</mat-option>
                                    <mat-option value="option3">option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field class="w-100">
                                <mat-label>Document Type</mat-label>
                                <mat-select>
                                    <mat-option value="option1">option 1</mat-option>
                                    <mat-option value="option2">option 2</mat-option>
                                    <mat-option value="option3">option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                       
                        <div class="col-md-3">
                            <mat-form-field class="w-100">
                                <mat-label>Document Status</mat-label>
                                <mat-select>
                                    <mat-option value="option1">option 1</mat-option>
                                    <mat-option value="option2">option 2</mat-option>
                                    <mat-option value="option3">option 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <h2 class="form-section-header">Approval Date</h2>
                            <mat-form-field class="w-100">
                                <mat-label>Select Date</mat-label>
                                <input matInput [matDatepicker]="approval" (click)="approval.open()">
                                <mat-datepicker-toggle matSuffix [for]="approval"></mat-datepicker-toggle>
                                <mat-datepicker #approval></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <h2 class="form-section-header">Effective Date</h2>
                            <mat-form-field class="w-100">
                                <mat-label>Select Date</mat-label>
                                <input matInput [matDatepicker]="Effective_date" (click)="Effective_date.open()">
                                <mat-datepicker-toggle matSuffix [for]="Effective_date"></mat-datepicker-toggle>
                                <mat-datepicker #Effective_date></mat-datepicker>
                            </mat-form-field>
                        </div>
                       
                    </div>

                    

                    <div  class="row">
                        <div class="col-md-6">
                            <h2 class=" filter-header mb-3">Key Type  &  Value</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="w-100">
                                        <mat-label>Key Type</mat-label>
                                        <mat-select>
                                            <mat-option value="option1">option 1</mat-option>
                                            <mat-option value="option2">option 2</mat-option>
                                            <mat-option value="option3">option 3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="w-100">
                                        <mat-label>Value</mat-label>
                                        <input matInput placeholder="Ex. Value">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3 text-right">
                                    
                                      <button mat-mini-fab color="primary"title="add Keyword" >
                                        <span class="material-icons">
                                            add
                                            </span>
                                      </button>
                                      <button class="ml-1" mat-raised-button color="warn">Clear</button>
                                </div>

                                <div class="col-md-12">
                                   <ul class="key-valus">
                                       <li>
                                           <div class="w-35"> Site </div>
                                           <div class="w-60"> www.google.com</div>
                                           <div class="w-5"> 
                                               <button mat-icon-button color="warn" aria-label="Remove this key and value">
                                                <span class="material-icons delete-icon">
                                                    delete
                                                    </span>
                                            </button> 
                                        </div>
                                       </li>
                                       <li>
                                        <div class="w-35"> Site2 </div>
                                        <div class="w-60"> www.kentowin.com</div>
                                        <div class="w-5"> 
                                            <button mat-icon-button color="warn" aria-label="Remove this key and value">
                                             <span class="material-icons delete-icon">
                                                 delete
                                                 </span>
                                         </button> 
                                     </div>
                                    </li>
                                   </ul>
                                </div>
            
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2 class=" filter-header mb-3">Document Approves</h2>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="w-100">
                                        <mat-label>Name</mat-label>
                                        <mat-select>
                                            <mat-option value="option1">option 1</mat-option>
                                            <mat-option value="option2">option 2</mat-option>
                                            <mat-option value="option3">option 3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="w-100">
                                        <mat-label>Role</mat-label>
                                        <mat-select>
                                            <mat-option value="option1">option 1</mat-option>
                                            <mat-option value="option2">option 2</mat-option>
                                            <mat-option value="option3">option 3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3 text-right">
                                    
                                      <button mat-mini-fab color="primary"title="add Keyword" >
                                        <span class="material-icons">
                                            add
                                            </span>
                                      </button>
                                      <button class="ml-1" mat-raised-button color="warn">Clear</button>
                                </div>

                                <div class="col-md-12">
                                   <ul class="key-valus">
                                       <li>
                                           <div class="w-35"> Admin1 </div>
                                           <div class="w-60"> QA </div>
                                           <div class="w-5"> 
                                               <button mat-icon-button color="warn" aria-label="Remove this key and value">
                                                <span class="material-icons delete-icon">
                                                    delete
                                                    </span>
                                            </button> 
                                        </div>
                                       </li>
                                       <li>
                                        <div class="w-35"> Admin 2 </div>
                                        <div class="w-60"> Staff </div>
                                        <div class="w-5"> 
                                            <button mat-icon-button color="warn" aria-label="Remove this key and value">
                                             <span class="material-icons delete-icon">
                                                 delete
                                                 </span>
                                         </button> 
                                     </div>
                                    </li>
                                   </ul>
                                </div>
            
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h2 class="form-section-header">Place Signature</h2>
                            <div class="row">
                                <div class="col-md-6 py-3">
                                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                                        <mat-radio-button class="example-radio-button pr-3" value="yes">
                                            Yes
                                        </mat-radio-button>
                                        <mat-radio-button class="example-radio-button" value="no">
                                            No
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>

                        </div>
            
                    </div>
                    
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button mat-flat-button color="primary" class="ml-1 mr-1">Save and Start workflow</button>
                        <button mat-flat-button color="accent" class="ml-1 mr-1">Save and Close</button>
                        <button mat-flat-button color="warn" class="ml-1 mr-1">cancel</button>                
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>