.page-title{
    position: relative;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 0px;
    min-height:50px;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 0.03em;
    padding-left: 20px;
}
.page-title::after{
    content: "";
    position: absolute;
    bottom: 0px;
    height: 3px;
    background: #0090ff;
    left:20px;
    width: 100px;
}
.filter-header{
    padding: 10px;
    background-color:  #0090ff;
    color: #fff;
    margin: 0px;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 26px;
}
.filter-body{
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);

}
.filter-page-cont{
    /* margin-top: 20px; */
}
input.mat-input-element, 
.mat-form-field-label-wrapper, 
.mat-form-field-hide-placeholder .mat-select-placeholder{
    font-family: 'Poppins', sans-serif !important;
}
::ng-deep .mat-form-field-label-wrapper{
    font-family: 'Poppins', sans-serif !important; 
}
.right{
    float: right;
}
.form-section-header{
    font-size: 14px;
    font-family: 'Poppins', sans-serif !important;
    margin: 0px;
    font-weight: 600;
    color:  #0090ff;
}
.keyvalues{
    padding: 0px;
    margin: 0px;
}
.keyvalues li{
  list-style: none;
  display: inline-block;
  padding: 5px;
  padding-left: 10px;
  padding-right: 30px;
  margin-right: 12px;
  margin-top: 10px;
  background-color: #fff;
  color: #737373;
  border-radius: 100px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  letter-spacing: 0.03em;
  position: relative;
  font-weight: 100;
}
.keyvalues li label{
    display: block;
    width: 18px;
    background-color:  #0090ff;
    height: 18px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    position: absolute;
    right: 5px;
    top: 6px;
    border-radius: 100px;
    font-size: 11px;
    cursor: pointer;
}
.adv-form-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.adv-filter{
    position: absolute;
    left: 44%;
    top: 0px;
    border-radius: 20px;
    background:  #0090ff;
    text-align: center;
    font-weight: 500;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: 0.03em;
}
button.mat-focus-indicator.mat-mini-fab.mat-button-base.mat-warn:focus{
    outline: none !important;
}
button.mat-focus-indicator.mat-icon-button.mat-button-base:focus{
    outline: none !important; 
}
button{
    outline: none !important;
}
.icon-f-15{
    font-size: 18px;
    background: #f1f1f1;
}
.fs-18{
    font-size: 18px;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #0090ff;
}
/*basic settings */
a:focus {
    outline: none !important;
    outline-offset: none !important;
  }
  body {
    background: #f5f6f5;
    color: #333;
  }
  /* helper classses */
  .margin-top-20 {
    margin-top: 20px;
  }
  .margin-bottom-20 {
    margin-top: 20px;
  }
  .no-margin {
    margin: 0px;
  }
  /* box component */
  .box {
    border-color: #e6e6e6;
    background: #FFF;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin-bottom: 40px;
  }
  .box-center {
    margin: 20px auto;
  }
  /* input [type = file]
  ----------------------------------------------- */
  input[type=file] {
    display: block !important;
    right: 1px;
    top: 1px;
    height: 34px;
    opacity: 0;
    width: 100%;
    background: none;
    position: absolute;
    overflow: hidden;
    z-index: 2;
  }
  .control-fileupload {
    display: block;
    border: 1px solid #d6d7d6;
    background: #FFF;
    border-radius: 4px;
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 0px 10px 2px 10px;
    overflow: hidden;
    position: relative;
    /* File upload button */
  }
  .control-fileupload:before,
  .control-fileupload input,
  .control-fileupload label {
    cursor: pointer !important;
  }
  .control-fileupload:before {
    /* inherit from boostrap btn styles */
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #0090ff;
    background-repeat: repeat-x;
    border: 1px solid #0090ff;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
    /* add more custom styles*/
    content: 'Browse';
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    right: 2px;
    line-height: 20px;
    text-align: center;
  }
  .control-fileupload:hover:before,
  .control-fileupload:focus:before {
    background-color: #e6e6e6;
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.2s ease-out;
    transition: background-position 0.2s ease-out;
  }
  .control-fileupload label {
    line-height: 35px;
    color: #333;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
    margin-right: 90px;
    margin-bottom: 0px;
    cursor: text;
  }
  .file-name{
    position: absolute;
    left: 26%;
    font-size: 12px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.5em;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(0, 0, 0, 0.9) !important;
}
.w-35{
    width:33%;
    float: left;
}

.w-60{
    width:62%;
    float: left;
}

.w-5{
    width:5%;
    float: left;
}
.key-valus{
    padding-left:0px;
    list-style: none;
}
.key-valus li{
    border-bottom: 1px solid #eaeaea;
    display: flex;
    width: 100%;
    line-height: 16px;
    align-items: center;
}
.delete-icon{
    font-size:16px;
}
.mat-raised-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 55px;
    line-height: 28px;
    padding: 0 5px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
