.login-wrapper{
    background-image: url(../../assets/images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 100vh;
}
.logo-parent{
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    padding:2% 10%;
}
.form-title{
    font-size: 22px;
    text-transform: uppercase;
}
.login-parent{
    padding:5% 0px;
    height: 100vh;
}
.forgot-password{
    font-size: 13px;
}
.form-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}