<div class="container-fulid login-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card mt-5 mb-5">
                    <div class="card-body">
                        <div class="logo-parent">
                                <img height="50" src="assets/images/logo.png" alt="Logo">
                        </div>
                        <hr>
                        <h3 class="text-center form-title"> User Login</h3>
                        <div class="login-form">
                            <mat-form-field class="example-full-width w-100">
                                <mat-label>Enter your user name</mat-label>
                                <input matInput placeholder="Ex. sample@gmail.com">
                              </mat-form-field>

                              <mat-form-field class="w-100" appearance="fill">
                                <mat-label>Enter your password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <span class="material-icons">
                                     {{hide ? 'visibility_off' : 'remove_red_eye'}}
                                    </span>
                                </button>
                              </mat-form-field>

                              <div class="form-bottom">
                                <a class="forgot-password" routerLink="/"> Forgot your password? </a>
                                <a class="text-center" mat-raised-button color="primary" routerLink="/dashboard"> Login</a>
                              </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>   
