<div class="documents-table-wrapper">
    <p class="info-txt">100 reocrds found.</p>
    <table  mat-table matSort   matSortActive="position" matSortDisableClear matSortDirection="asc"   [dataSource]="dataSource" class="mat-elevation-z8 w-100">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header="position"> System Number. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef  mat-sort-header="name"> Document Title </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef > Version </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index"> Version {{index}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Approvel Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> 02 Sep 2020 </mat-cell>
        </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let element">   <a mat-button href="#" target="_blank">Link</a> </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>

    <mat-paginator [pageIndex]="0"
                    [pageSize]="5" [length]="resultsLength" ></mat-paginator>
</div>