.documents-table-wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    
}
 .mat-header-cell,.mat-cell, .mat-footer-cell{
    font-family: 'Poppins', sans-serif !important
}
.mat-row{
    min-height: 40px;
}
.info-txt{
    /* margin-top: -25px; */
    font-size: 14px;
    color: #737373;
    letter-spacing: 0.03em;
}
.documents-table-wrapper mat-header-row.mat-header-row.cdk-header-row.ng-star-inserted{
    background:  #0090ff;
}

.documents-table-wrapper mat-header-cell{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 14px;
}
mat-header-row {
    min-height: 45px;
}
table.table {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
::ng-deep.mat-sort-header-arrow {
    color: #fff ;
}

.mat-sort-header-indicator{
    color: #fff !important;
}
.mat-sort-header-arrow{
    color: #fff !important;
}
mat-row.mat-row.cdk-row.ng-star-inserted:nth-child(2n+1){
background:#f1f1f1;
}