<div class="filter-page-container container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4 class="page-title"> Dashboard </h4>
        </div>
        <div class="col-md-9">
            <app-filter></app-filter>
            <app-documents-table></app-documents-table>
        </div>
        <div class="col-md-3">
            <app-my-activities></app-my-activities>
        </div>
    </div>
</div>