.page-title{
    position: relative;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 0px;
    min-height:50px;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 0.03em;
    padding-left: 20px;
}
.page-title::after{
    content: "";
    position: absolute;
    bottom: 0px;
    height: 3px;
    background: #0090ff;
    left:20px;
    width: 100px;
}