/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
    font-family: 'Poppins', sans-serif !important; }

.m-0{
    margin: 0px !important;
}
*:focus{
outline: none;
}
.mat-typography::-webkit-scrollbar {
    width: 6px;
  }
.mat-typography::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
.mat-typography::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }