<div class="header-wrapper" *ngIf="isNotloginPage">

  <app-header></app-header>
</div>

<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" [opened]="isNotloginPage?true:false" mode="side">

    <div *ngIf="isNotloginPage" class="s-menu">
      <!-- Material sidebar -->
      <app-side-nav></app-side-nav>

    </div>
  </mat-drawer>
 

  <div class="example-sidenav-content">
    <div class="body-wrapper">
      <div class="page-wrapper">
        
      <span [ngClass]="{'go-right': !drawer.opened}" *ngIf="isNotloginPage" class="s-btn" (click)="drawer.toggle()">
        <span *ngIf="!drawer.opened" class="material-icons">
          menu
        </span>
        <span *ngIf="drawer.opened" class="material-icons">
          close
        </span>
      </span>

        <!-- Main Pages will render here (router-outlet)-->
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>

</mat-drawer-container>

