.body-wrapper{
    background: #eee;
}
.s-menu{
    width:270px
}
[class^="md-"],
[class*=" md-"] {
  display: inline-block;
  font: normal normal normal 14px/1 'Material Design Iconic Font';
  font-size: inherit;
  speak: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.md {
  line-height: inherit;
  vertical-align: bottom;
}

.header-wrapper{
    position: relative;

}
.s-btn{
  position: absolute;
  left: -1%;
  top: 17px;
  width: 30px;
  height: 30px;
  background: #0090ff;
  z-index: 999;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
font-size: 18px;
text-align: right;
padding-right: 5px;;
}
::ng-deep .mat-drawer-inner-container{
  overflow-x: hidden !important;
}
.drawer-l{
  position: relative;
}
.s-btn .material-icons {
  font-size: 16px;
  text-align: right;
  line-height: 30px;
}
span.s-btn.ng-star-inserted.go-right {
  left: 0px;
  text-align: center;
  padding-right: 0;
}

span.s-btn.ng-star-inserted.go-right i{
  font-size: 18px !important;
}
::ng-deep .mat-drawer-content{
  min-height: 700px;
}
